fixedLogo {
  display: flex;
  justify-content: left;
  background-color: white;
}
navbar {
  display: flex;
  justify-content: right;
  color: white;
}

/* navbar h2:hover {
  background-color: lightgrey;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) inset;
  color: black;
} */

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: auto;
  font-size: 18px;
  color: white;
}

.api-section.api-coverage {
  height: 713px;
  padding-top: 120px;
}
.api-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #161930;
  border-bottom: aqua 10px;
}

.api-section .overlay {
  /* position: absolute; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 1;
  background-image: radial-gradient(
    90% 200% at bottom,
    #253a64 0%,
    #161930 15%
  );
  background-repeat: no-repeat;
}

.api-section.api-coverage .clouds {
  position: absolute;
  top: 50%;
  left: 0;
  height: 191px;
  width: 100%;
}
.api-section.api-coverage .clouds .clouds-bg {
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 0;
  max-width: 100%;
  top: 0;
  background: url(https://www.lemonade.com/assets/api/bg-clouds.png) 0% 0%
    repeat;
  z-index: 1;
  background-size: contain;
  -webkit-animation: move-bg 60s infinite linear;
  -moz-animation: move-bg 60s infinite linear;
  -ms-animation: move-bg 60s infinite linear;
  -o-animation: move-bg 60s infinite linear;
  animation: move-bg 60s infinite linear;
}

@keyframes move-bg {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1400px);
  }
}
.api-section .inner {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 1;
}
.api-section h2 {
  font: 700 46px/60px "Lato", "Helvetica Neue", Arial, sans-serif;
  color: #ffffff;
  z-index: 2;
}
.api-section.api-coverage p {
  width: auto;
  text-align: center;
  font-size: 28px;
}
.api-section.api-coverage .bicycle-coverage {
  position: absolute;
  bottom: 150px;
  left: calc(40% - 200px);
  width: 120px;
  z-index: 3;
  -webkit-animation: reverse-animated-coverage 3.5s infinite
    cubic-bezier(0.5, 0, 0.5, 1);
  -moz-animation: reverse-animated-coverage 3.5s infinite
    cubic-bezier(0.5, 0, 0.5, 1);
  -ms-animation: reverse-animated-coverage 3.5s infinite
    cubic-bezier(0.5, 0, 0.5, 1);
  -o-animation: reverse-animated-coverage 3.5s infinite
    cubic-bezier(0.5, 0, 0.5, 1);
  animation: reverse-animated-coverage 3.5s infinite
    cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes reverse-animated-coverage {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -o-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(25px) rotate(-10deg);
    -moz-transform: translateY(25px) rotate(-10deg);
    -ms-transform: translateY(25px) rotate(-10deg);
    -o-transform: translateY(25px) rotate(-10deg);
    transform: translateY(25px) rotate(-10deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -o-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}
.api-section.api-coverage .electronics-coverage {
  position: absolute;
  bottom: 250px;
  left: calc(50% - 200px);
  width: 70px;
  z-index: 2;
  -webkit-animation: animated-coverage 4s infinite cubic-bezier(0.5, 0, 0.5, 1);
  -moz-animation: animated-coverage 4s infinite cubic-bezier(0.5, 0, 0.5, 1);
  -ms-animation: animated-coverage 4s infinite cubic-bezier(0.5, 0, 0.5, 1);
  -o-animation: animated-coverage 4s infinite cubic-bezier(0.5, 0, 0.5, 1);
  animation: animated-coverage 4s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
@keyframes animated-coverage {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -o-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(25px) rotate(10deg);
    -moz-transform: translateY(25px) rotate(10deg);
    -ms-transform: translateY(25px) rotate(10deg);
    -o-transform: translateY(25px) rotate(10deg);
    transform: translateY(25px) rotate(10deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
    -moz-transform: translateY(0) rotate(0);
    -ms-transform: translateY(0) rotate(0);
    -o-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
}

.api-section.api-coverage .jewelry-coverage {
  position: absolute;
  bottom: 250px;
  left: calc(50% + 40px);
  width: 61px;
  z-index: 2;
  -webkit-animation: animated-coverage 6s infinite cubic-bezier(0.5, 0, 0.5, 1);
  -moz-animation: animated-coverage 6s infinite cubic-bezier(0.5, 0, 0.5, 1);
  -ms-animation: animated-coverage 6s infinite cubic-bezier(0.5, 0, 0.5, 1);
  -o-animation: animated-coverage 6s infinite cubic-bezier(0.5, 0, 0.5, 1);
  animation: animated-coverage 6s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.api-section.api-coverage .musical-coverage {
  position: absolute;
  bottom: 220px;
  left: calc(50% + 200px);
  width: 65px;
  z-index: 3;
  -webkit-animation: animated-coverage 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
  -moz-animation: animated-coverage 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
  -ms-animation: animated-coverage 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
  -o-animation: animated-coverage 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
  animation: animated-coverage 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.api-section.api-coverage .img-skyline {
  position: absolute;
  bottom: -15px;
  left: calc(50% - 120px);
  width: 250px;
  height: 220px;
  z-index: 2;
}

.navbar-nav {
  margin-right: 40px;
}

.navbar-expand-lg {
  margin-top: -40px;
  margin-bottom: -40px;
}

.api-section.api-usage {
  padding-top: 80px;
  padding-bottom: 123px;
}
.api-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #161930;
}
.api-section.api-usage .overlay {
  background-image: radial-gradient(
    90% 100% at bottom,
    #92abdc 0%,
    #161930 50%
  );
}
.api-section.api-usage > .inner {
  max-width: 1700px;
}
.api-section .inner {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 2;
}
.api-section.api-usage .usage-examples {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 94px;
  padding: 0 144px;
}

.api-section.api-usage .usage-examples .usage-example {
  position: relative;
  width: 333px;
  height: 270px;
  margin: 20px;
  padding: 41px 26px 26px;
  border: 1px solid #42508a;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.api-section.api-usage .usage-examples .usage-example.e-commerce:before {
  width: 75px;
  height: 65px;
  margin-left: -38px;
}

.api-section.api-usage .usage-examples .usage-example h4 {
  font: 700 22px/27px "Lato", "Helvetica Neue", Arial, sans-serif;
  padding: 30px 0 8px;
  color: #ffffff;
}

.api-section.api-usage .usage-examples .usage-example p {
  font: 400 20px/26px "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-top: 0;
  width: 100%;
}

.api-section.api-usage p {
  width: 825px;
  text-align: center;
  white-space: pre-line;
}
.api-section p {
  font: 400 20px/28px "Lato", "Helvetica Neue", Arial, sans-serif;
  color: #92abdc;
  padding-top: 15px;
  text-align: center;
}
.api-section.api-usage .usage-examples .usage-example.real-estate:before {
  background-position: -79px 0px;
  width: 74px;
  height: 73px;
  margin-left: -36px;
  top: 33px;
}
@media (max-width: 767px) {
  .api-section.api-usage .usage-examples {
    flex-flow: column;
  }
}
@media (max-width: 530px) {
  .api-section.api-coverage .musical-coverage {
    left: calc(50% + 100px);
    bottom: 200px;
  }
  .api-section.api-coverage .bicycle-coverage {
    left: calc(-15% + 100px);
  }
  .api-section.api-coverage .electronics-coverage {
    left: calc(5% + 100px);
  }
}

@media (max-width: 970px) {
  .api-section.api-usage .usage-examples {
    margin-top: 20px;
    padding: 0;
  }
  .navbar-brand {
    margin-left: 1rem;
  }
}

@media (max-width: 1520px) {
  .api-section.api-usage .usage-examples {
    flex-direction: row;
    margin-top: 0px;
    padding: 0px;
    flex-wrap: wrap;
  }
}
