fixedLogo {
  display: flex;
  justify-content: left;
}
navbar {
  display: flex;
  justify-content: right space-between;
  color: white;
}

navbar h2:hover{
  background-color: lightgrey;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) inset;
  color: black;
}
  
*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: auto;
  font-size: 28px;
  color: white;
}